# Ignore all hidden folders 
./**/.*

# Ignore bin and obj folders, recursively
**/bin/
**/obj/

# Ignore .vs folder (Visual Studio)
.vs/

# Ignore .idea folder (IntelliJ IDEA)
.idea/

# Ignore VSCode settings directory
.vscode/
